
:root {
	--color-white: #F8F8F8;
	--color-gray-001: #F2F2F2;
	--color-gray-002: #E8E8E8;
	--color-black-001: #060C0C;
	--color-black-002: #091312;
	--color-black-003: #0C1918;
	--color-primary: #1E403C;
	--color-secondary: #387368;
	--color-tertiary: #7CA69E;
	--color-accent: #9FBFB8;

	--font-family: 'ff-real-headline-pro', 'Helvetica', Arial, sans-serif;

	--base-font-size: 16px; 
	--base-line-height: 1.3; 
	--base-font-weight: 300;
	--h1-font-size: 3.75rem;
	--h1-line-height: 1.3;
	--h1-font-weight: 500;
	--h2-font-size: 2.625rem;
	--h2-line-height: 1.3;
	--h2-font-weight: 600;
	--h3-font-size: 2.375rem;
	--h3-line-height: 1.3;
	--h3-font-weight: 500;
	--h4-font-size: 2rem;
	--h4-line-height: 1.3;
	--h4-font-weight: 500;
	--h5-font-size: 1.75rem;
	--h5-line-height: 1.3;
	--h5-font-weight: 600;
	--h6-font-size: 1.5rem;
	--h6-line-height: 1.3;
	--h6-font-weight: 500;
	--subtitle-1-font-size: 1.275rem;
	--subtitle-1-line-height: 1.3;
	--subtitle-1-font-weight: 400;
	--subtitle-2-font-size: 1.275rem;
	--subtitle-2-line-height: 1.3;
	--subtitle-2-font-weight: 300;
	--body-font-size: 1em;
	--body-line-height: 1.3;
	--body-font-weight: 300;
	--body-2-font-size: 1.125rem;
	--body-2-line-height: 1.3;
	--body-2-font-weight: 300;
	--small-font-size: 14px;
	--small-line-height: 1.3;
	--small-font-weight: 300;
	--tiny-font-size: 12px;
	--tiny-line-height: 1.3;
	--tiny-font-weight: 400;

	--border-radius: 10px;

	/* Theme */
	/* shadows */
	--color-innershadow: #00000029;
	--color-outershadow: #9FBFB833;
	/* background */
	--primary-bgcolor: var(--color-gray-002);
	--secondary-bgcolor: var(--color-gray-001);
	--tertiary-bgcolor: var(--color-white);
	/* text */
	--primary-textcolor: var(--color-black);
	--secondary-textcolor: var(--color-primary);
	--tertiary-textcolor: var(--color-tertiary);
	/* button */
	--primary-button-bgcolor: var(--color-primary);
	--primary-button-textcolor: var(--color-white);
	--secondary-button-bgcolor: var(--color-white);
	--secondary-button-textcolor: var(--color-primary);
	--disabled-button-bgcolor: var(--color-gray-002);
	--disabled-button-textcolor: var(--color-white);
	/* loader */
	--loader-bg: var(--color-gray-002);
	--loader-fg: var(--color-tertiary);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
:root {
	/* Theme */
	/* shadows */
	--color-innershadow: #0C191833;
	--color-outershadow: #060C0C34;
	/* background */
	--primary-bgcolor: var(--color-black-001);
	--secondary-bgcolor: var(--color-black-002);
	--tertiary-bgcolor: var(--color-black-001);
	/* text */
	--primary-textcolor: var(--color-white);
	--secondary-textcolor: var(--color-white);
	--tertiary-textcolor: var(--color-secondary);
	/* button */
	--primary-button-bgcolor: var(--color-primary);
	--primary-button-textcolor: var(--color-white);
	--secondary-button-bgcolor: var(--color-primary);
	--secondary-button-textcolor: var(--color-white);
	--disabled-button-bgcolor: var(--color-black-001);
	--disabled-button-textcolor: var(--color-primary);
	/* loader */
	--loader-bg: var(--color-gray-002);
	--loader-fg: var(--color-tertiary);
}
}